@font-face {
  font-family: "Computer Modern Serif";
  src: url("/public/fonts/cmunrm.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("/public/fonts/cmunbx.woff") format("woff");

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("/public/fonts/cmunti.woff") format("woff");

  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("/public/fonts/cmunbi.woff") format("woff");

  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: NotoSans;
  src: url("/public/fonts/noto-sans-regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSans;
  src: url("/public/fonts/noto-sans-bold.ttf") format("truetype");

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: NotoSans;
  src: url("/public/fonts/noto-sans-italic.ttf") format("truetype");

  font-weight: normal;
  font-style: italic;
}
