h1, h2, h3 {
  padding-bottom: calc(var(--unit) / 2);

  text-decoration: underline;

  line-height: 1.2;
}

h3,
h4,
h5,
h6 {
  font-size: var(--font-size);
  line-height: var(--unit);
}

h3 {
  color: var(--color-yellow);
}

h4 {
  color: var(--color-green);
}

h5 {
  color: var(--color-aqua);
}

h6 {
  color: var(--color-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--unit) 0;
}

h1 small,
h2 small,
h3 small {
  display: block;

  font-size: var(--font-size);
}
