{
  "extends": ["@commitlint/config-conventional"],
  "rules": {
    "scope-enum": [
      2,
      "always",
      [
        "monorepo",
        "config-esling",
        "config-prettier",
        "config-typescript",
        "metal-emoji",
        "metal-mdx",
        "metal-react-ssg",
        "metal-swc",
        "utils-fs",
        "utils-text",
        "utils-path",
        "utils-crypto",
        "blog",
      ]
    ]
  }
}
